@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
	background-color: white;
	font-family: Lato;
	transition: background-color 0.5s ease;
}
#MainContent{
	color:#373A3C;
	line-height:1.8;
}
.container12 {
	display: inline-block;
	cursor: pointer;
  }
  #buttondl{
	  position: fixed;
	  width: 30px;
	  height:30px;
  }
  .bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: #333;
	margin: 6px 0;
	transition: 0.4s;
  }
  
  .change2 .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change2 .bar2 {opacity: 0;}
  
  .change2 .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
  }
.bigdivcontainer{
	overflow: scroll;
	margin-top: 2%;
	padding: 2%;
	position: relative;
	width: 95%;
	left:2.5%;
	height:500px;
	border: 1px solid #373A3C;
	border-radius: 1%;
	
}
.bigdivcontainer:hover{
	border:2px solid #373A3C;
}
#youtubecontainerdivenlarged{
	position: relative;
	width: 104%;
	margin: -2%;
	height:60%;
	background-color: black;
}
@media screen and (max-width : 910px){
	#youtubecontainerdiv{
		height: 300px;
		width: 115%;
		margin-top: -3%;
		margin-left: -7%;
	}
	#youtubeframe{
		width:533px;
		left:calc(50% - 266.5px);
		top: 0%;
	height: 100%;
	}
}
@media screen and (min-width : 910px){
	#youtubecontainerdiv{
		height: 360px;
		width: 116%;
		margin-top: -3%;
		margin-left: -8%;
	}
	#youtubeframe{
		width:640px;
		left:calc(50% - 320px);
		top: 0%;
	height: 100%;
	}
}
@media screen and (max-width : 790px){
	#youtubecontainerdiv{
		height: 252px;
		width: 115%;
		margin-top: -3%;
		margin-left: -7%;
	}
	#youtubeframe{
		width:448px;
		left:calc(50% - 224px);
		top: 0%;
	height: 100%;
	}
}
@media screen and (max-width : 700px){
	#youtubecontainerdiv{
		margin-left: -2%;
		margin-right: -2%;
		height: calc((9/16) * 100vw);
	}
	#youtubeframe{
		position: absolute;
		width: 100vw;
		height: calc((9/16) * 100vw);
		left: 0%;
		right: 0%;
	}
}
#youtubecontainerdiv{
	position: relative;
	background-color: black;

}
ul{list-style-type:disc;}

.theorem{
	background-color: #F2AA4CFF;
	padding: 2%;
	margin:1%;
}
.divexample{
	position: relative;
	background-color: lightsalmon;
	padding: 2%;
	margin:1%;	
	color:black;
	border-radius:5px;
} 


#topicdiv{
	font-size:34px; font-family: OpenSans-Light, OpenSans, Arial, sans-serif; 
	background-color: turquoise;
}
#youtubeframe{
	position: absolute;
	
}
#MiniContent{
	padding: 3%;
    color: #373A3C;
    font-size: 15px;
	font-family:Lato;
}
#topicdiv{
	padding:0px 0px 0px 10px;
	border-bottom: 1px solid gray;
	font-size:34px; font-family: OpenSans-Light, OpenSans, Arial, sans-serif;
	margin-top:15px;
	background-color: turquoise;
}
.topicdiv1{
	padding:0px 0px 0px 10px;
	border-bottom: 1px solid gray;
	font-size:28px; font-family: OpenSans-Light, OpenSans, Arial, sans-serif;
	margin-top:15px;
	background-color: turquoise;

}

#MainContent {
	
	padding:2% 5% 4% 5%;
	font-size: 19px;
	position: absolute;
	left:245px;
	top: 0px;
	height: 100%;
	overflow:scroll;
	right:0%;
}

#MainContentEnlarged{
	position:absolute;
	width:100%;
	
	font-size: 20px;
	padding:2%;
	overflow:scroll;
	height:100%;

}
@media screen and (min-width: 900px){

#LeftDiv{
	left:0px;
	width:245px;
	position:absolute;
	background-color:;
	height:100%;
	bottom:0%;
	overflow:scroll;
}
.YouTubeSolution{height:70%;}
}
.LeftMenuListItemText{text-align:center;}
@media screen and (max-width: 900px){
	#LeftMiniContent{font-size:15px;}
	#LeftDiv{
	width:245px;
	position:absolute;
	background-color:white;
	height:100%;
	bottom:0%;
	overflow:scroll;
}

}
@media screen and (max-width:800px){
	ul{position: relative;width:90%;left:5%}
	#LeftMiniContent{font-size:20px;}
	.LeftMenuListItemText{font-size:15px;text-align:center;}
#MainContent{font-size: ;}
}
@media screen and (min-width: 700px){
}
@media screen and (max-width: 700px) {
	#LeftMiniContent{font-size:25px;}
  #MainContent {
  position:static;
  width: 100%;
  margin: 1px 1px 1px; padding:2%; font-size: ;
  order:1;
  }
  #MainContentEnlarged{font-size: 12px;}
  #BigContent{font-size: 25px;}
  #LeftDiv{width:245px;
  position:absolute;
	background-color:white;
	display:hidden;
	bottom:0%;
	overflow:scroll;
	order:2;}
	#TopHeader{
		position:static;
	}
	#Main{
		position: static;
		height: 1000px;
	}
	#Footer{
		position: static;
	}
} 
#TopHeader{
	position:relative;
	background-color:;
	height:50px;
	border-bottom:1px solid gray;
}
#Main{
	position: relative;
	height: calc(100vh - 50px);
	left: 0px;
	width: 100%;

	
}

#Footer{
	width: 100%;
	border-top:1px solid gray;
	position:relative;
	text-align:center;	
}
#LeftDiv{
	z-index:1;
}
#GreySpace{
	z-index: 1;
	position: absolute;
	z-index:1;
	display: none;
	height:100%;
	left: 245px;
	opacity:0.1;
	right: 0px;
	background-image: linear-gradient(to right, black 0%, gray 5%, lightgray 10%);
	text-align: center;
	font-size: 0.1px;
}
@media screen and (max-width:700px){
	#GreySpace{display:block;}
	
.topicdivm{
	font-size:20px; margin-bottom: 10px;
	background-color: aqua;
}
}
.topicdivm{
	font-size:30px; margin-bottom: 10px;
	background-color: aqua;
}
#HeaderLogo{display:relative;
	width:40%;
}

#HeaderLogoImage{
	border:1px solid black;
	position:absolute;
	height:100%;

}

#HeaderLogoText{
	border:1px solid black;
	align-items:center;
	position:relative;
	height:100%;
	text-align: center;
	font-family:'Roboto';
	margin-left:1%;
}
#LeftMiniContent{
	text-align:center;
	margin:5%;
	position:relative;

}
.BlackHR{
	border:1px solid black;
}
#LeftMenu{
	position:relative;
	
	
}


#TopHeaderSVG{
	position:absolute;
	justify-content:center;
	top:5%;
	height:90%;
	width:40%;
	left:30%;
}
#TopHeaderSVG:hover{
	border:1px;
}
#LeftMenuButton {
  position:absolute;
  height:90%;
  top:10%;
  left:8px;
 cursor: pointer;
  
}
#DownloadButton{
	position:absolute;
	height:90%;
	top:5%;
	right:5px;	
}
.QuestionText{background-color:gray; padding:2%}
.SolutionText{padding:2%;}


#MainContentEnlarged,#LeftDiv,#MainContent,body{
	overflow-x:hidden;
	
}

body::-webkit-scrollbar{
	width:0;
}
.overflowdiv{overflow-x:auto;}
.overflowdiv::-webkit-scrollbar{width: 0.02px;}
.bigdivcontainer::-webkit-scrollbar{width: 0;}
#LeftDiv::-webkit-scrollbar,#MainContent::-webkit-scrollbar,#MainContentEnlarged::-webkit-scrollbar {
  width: 0.5em;
}
 
.overflowdiv::-webkit-scrollbar-track,#LeftDiv::-webkit-scrollbar-track,#MainContent::-webkit-scrollbar-track,#MainContentEnlarged::-webkit-scrollbar-track,body::-webkit-scrollbar-track {
  box-shadow: red;
}
 
.overflowdiv::-webkit-scrollbar-thumb,#LeftDiv::-webkit-scrollbar-thumb,#MainContent::-webkit-scrollbar-thumb,#MainContentEnlarged::-webkit-scrollbar-thumb,body::-webkit-scrollbar-thumb {
  background-color:grey;
}
@media screen and (max-width: 1110px){

}

.LessonHead{
    cursor: pointer;
    width: 240px;
    /* height: 32px; */
    padding: 6px 24px;
    color:#000000DE;
    font-size: 14px;
	border-bottom: 0.5px solid grey;
}
.CurrentLessonItem{
    width: 240px;
    padding: 8px 24px 8px 18px;
	position: relative;
	background-color: #FFFF66;
	color:#373A3C;
}
.LessonItem{
    width: 240px;
    padding: 8px 24px 8px 18px;
    position: relative;
}
.LessonItem:hover{
    background: #FFFF66;
}
.LessonItemIconContainer{
    position: relative;
    width:32px;

}
.LessonItemIcon{
    position: absolute;
    width:20px;
    height:20px;
}
.LessonItemTextContainer{
    position: relative;
    left:32px;
    width:160px;
    background-color:;
}
.LessonItemText{
    color: #373A3C;
    font-size: 12px;
}
.LessonItemText .CurrentLessonItem{
	color: #373A3C;
}
.LessonItemSubText{
    margin:2px 0px 0px;
    color: #6B6B6B;
    font-size: 12px;
}
.LessonProgress{
    width:50%;
    height:5px;
    background-color: red;
    position: relative;
}
#MainContent{
	transition: left 0.2s;
}
#LeftDiv{
	transition: right 0.5s;
}

  /* width */
::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }
  #buttondl{
	  width: 225px;
	  
	  font-size: large;
	  position: relative;
	  background-color: #121212;
	  color: white;
  }
  #loadanimation{
  background-color:#white;
  position:fixed;
  width:100%;
  height:100%;
  z-index:49;
  }
  #loada1{
	  position:fixed;
	  top:calc(50% - 37.5px);
	  left:calc(50% - 37.5px);
  border-radius:999999px;
  z-index:52;
  background-color:red;
  height:75px;
  width:75px;
  animation:anload1 2s infinite;
  
  }
  #loada2{
	  position:fixed;
	  top:calc(50% - 48.75px);
	  left:calc(50% - 48.75px);
  border-radius:999999px;
  z-index:51;
  background-color:orange;
  height:97.5px;
  width:97.5px;
  animation:anload2 2s infinite;
  }
  @keyframes anload1{
  from {width:75px; height:75px;
	  top:calc(50% - 37.5px);
	  left:calc(50% - 37.5px);}
  to {width:25px; height:25px;
	  top:calc(50% - 12.5px);
	  left:calc(50% - 12.5px);}
 }
 @keyframes anload2{
  from {width:97.5px; height:97.5px;
	  top:calc(50% - 48.75px);
	  left:calc(50% - 48.75px);}
  to {width:32.5px; height:32.5px;
	  top:calc(50% - 16.25px);
	  left:calc(50% - 16.25px);}
 }
 @keyframes anload3{
  from {width:120px; height:120px;
	  top:calc(50% - 60px);
	  left:calc(50% - 60px);}
  to {width:40px; height:40px;
	  top:calc(50% - 20px);
	  left:calc(50% - 20px);}
 }
  #loada3{
	  position:fixed;
	  top:calc(50% - 60px);
	  left:calc(50% - 60px);
  border-radius:999999px;
  z-index:50;
  background-color:yellow;
  height:120px;
  width:120px;
  animation:anload3 2s infinite;
  }
  #blurdiv{
	  z-index:40;
	  background-color:#373A3C;
	  opacity:70%;
  position:fixed;
  width:100%;
  height:100%;
  }
